{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalExecuteBtn', '실행']]) }}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '기본', true) }}
    {{ macros.m_tab_head('db', 'DB', false) }}
  {{ macros.m_tab_head_end() }}
</nav>

<form id='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_text('binance_api_key', 'Binance API Key', value=arg['binance_api_key']) }}
      {{ macros.setting_input_text('binance_secret_key', 'Binance Secret Key', value=arg['binance_secret_key'], type="password") }}
      {{ macros.setting_input_int('trade_amount', '거래 기본 수량', value=arg['trade_amount']) }}
      {{ macros.setting_input_int('leverage', '레버리지', value=arg['leverage']) }}
      {{ macros.setting_input_int('take_profit', 'Take Profit (%)', value=arg['take_profit']) }}
      {{ macros.setting_input_int('stop_loss', 'Stop Loss (%)', value=arg['stop_loss']) }}
      {{ macros.setting_radio_with_value('trade_mode', '모드', [['simulation','시뮬레이션'],['real','실거래']], value=arg['trade_mode']) }}
      {{ macros.setting_checkbox('telegram_enabled', '텔레그램 알림', value=arg['telegram_enabled'], desc=['On: 알림 전송']) }}
      {{ macros.setting_input_text('telegram_bot_token', 'Bot Token', value=arg['telegram_bot_token']) }}
      {{ macros.setting_input_text('telegram_my_chat_id', 'My Chat ID', value=arg['telegram_my_chat_id']) }}
    {{ macros.m_tab_content_end() }}
    
    {{ macros.m_tab_content_start('db', false) }}
      {{ macros.setting_input_text_and_buttons('db_delete_day', 'DB 삭제 기간', [['globalDbDeleteDayBtn', '기간 적용 삭제', [['tag_id','db_delete_day']]], ['globalDbDeleteBtn', '전체 삭제']], value=arg['db_delete_day']) }}
      {{ macros.setting_checkbox('db_auto_delete', 'DB 자동 삭제', value=arg['db_auto_delete'], desc=['On : 기간 적용하여 DB를 자동 삭제합니다.']) }}
    {{ macros.m_tab_content_end() }}
  </div>
</form>

<script type="text/javascript">

$("body").on('click', '#globalSettingSaveBtn', function(e){
    e.preventDefault();
    globalSendCommand('save_setting');
});

$("body").on('click', '#globalExecuteBtn', function(e){
    e.preventDefault();
    globalSendCommand('execute_trade');
});

</script>
{% endblock %}
